.ordersDetails {
    margin-top: 20px;
    /* margin-left:50px; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.items {
    width: 50%;
    height: 430px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.item {
    display: flex;
}
table {
    height: 200px;
    width: 200px;
}
th {
    text-align: start;
}
td {
    text-align: end;
}

.img img {
    height: 100px;
    width: 100px;
}
