
* {
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(rgb(5, 5, 47) , #350806);
  font-family: sans-serif;
}
button:hover {
  cursor: pointer;
  background-color: #aa7433;
}


.container {
  min-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
h1 {
  color: #fff;
  font-size: 3rem;
}

.form {
  margin: 40px 0px;
}
.input {
  width: 250px;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  font-size: 1.2rem;
}
.add-button {
  background-color: #00ccff;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
}


.items {
  min-width: 350px;
}

.item {
  background-color: #fff;
  padding: 10px;
  font-size: 1.1rem;
}
.item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.checkbox {
  margin-right: 10px;
  
}
.delete-button {
  margin-top: -3px;
  float: right;
  background-color: #ff0537;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 3px 7px;
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: 550;
}
.checked { 
  text-decoration: line-through;
}